.COMPEg {
  width: 100%;
  border: 1px solid #eeeeee;

  .legendBox {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eeeeee;

  }

  .codeBlock {
    display: flex;
    justify-content: center;
    padding: 6px 0;
    background-color: #eeeeee;

    > pre {
      background-color: inherit !important;
    }
  }

  .codeDisplayBtn {
    display: flex;
    justify-content: center;
    border-top: 1px solid #eeeeee;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}
