* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.webHeader {
  > div {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    padding-left: 16px;

    .logo {
      height: 50px;
      width: 50px;
      margin: 6px 6px 6px 0;
    }

    div {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      color: #00ADB5;
    }
  }
}

.webContent {
  background-color: #ffffff;


  .webAside {
    border-right: 1px solid #eeeeee;

    h2 {
      font-size: 20px;
      padding: 10px 16px 6px 22px;
    }

    ul {
      li {

        a {
          color: black;
          display: block;
          padding: 6px 50px 6px 36px;

          span {
            display: block;
            width: 52px;
          }

          &.active {
            background-color: desaturate(#00ADB5, 50%);
            border-right: 10px solid #00ADB5;
            color: white;
          }
        }
      }
    }


  }

  .mainContent {
    padding-left: 66px;
    padding-top: 6px;
  }
}

.webFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eeeeee;
}
